<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Wheelchair App', root_path, class:"navbar-brand" %>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <%= link_to "About", home_about_path, class:"nav-link" %>
      </li>
      
        <li class="nav-item">
          <%= link_to "Add Post", new_post_path, class:"nav-link" %>
        </li>

         <li class="nav-item">
          <%= link_to "Show Posts", posts_path, class:"nav-link" %>
        </li>

      

      
      
    </ul>
    <form class="d-flex form-inline my-2 my-lg-0" role="search">
      <input class="form-control me-2 mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
    
  </div>
</nav>