body:before {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	background: url('wheelchair640x962.jpg') no-repeat 50% 50%;
	background-size: cover;
} 

nav {
  background: linear-gradient(
    to right,
    #080808 0%,
    #464749 0%,
    #484849 21%,
    #747475 52%,
    #939496 78%,
    #252424 100%
    );
}